* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: "Roboto", sans-serif;
}

#app {
  height: 100%;
  width: 100%;
  background-color: rgb(15, 15, 15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.controls {
  width: 100%;
  max-width: 45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#weather-card {
  width: 100%;
  max-width: 45rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: blanchedalmond;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.widgets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.description {
  margin-top: 1rem;
  line-height: 1.5;
}
