* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#main {
  height: 100%;
  width: 100%;
  background-color: rgb(15, 15, 15);
  position: relative;
  overflow: hidden;
}

#main img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#start-bar {
  position: absolute;
  bottom: 0;
  height: 3.4rem;
  width: 100%;
  background-color: rgba(12, 12, 12, 0.94);

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.task-left {
  display: flex;
  align-items: center;
  height: 2.8rem;
  width: 10rem;
  margin-left: 0.5rem;
  background-color: transparent;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.task-left:hover {
  background: #3131317b;
}

#weather-left-container {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#weather-left-container img {
  width: 100%;
  padding: 0.8rem 0.5rem;
  object-fit: contain;
}

#weather-right-container {
  width: 65%;
}

.weather-info {
  color: whitesmoke;
  font-size: 0.85rem;
  font-weight: 650;
}

.task-center {
  height: 2.8rem;
  width: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  height: 100%;
  width: 4rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  border-radius: 0.2rem;
}

.icons img {
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.icons:hover {
  background: #3131317b;
}

.task-right {
  display: flex;
  align-items: center;
  height: 2.8rem;
  width: auto;
}

.right-icons {
  padding-inline: 0.5rem;
}

.icon-right {
  font-size: 1.2rem;
  color: whitesmoke;
}

.apps {
  height: 50px;
  width: 50px;
}
