* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(47, 47, 47);
}

#box {
  height: 300px;
  width: 300px;
  background-color: brown;
}

button {
  padding: 10px 30px;
}
