* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Mona Sans";
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgb(26, 26, 26),
    rgb(35, 35, 35),
    black
  );
  padding: 20px;
}

section {
  height: 100%;
  width: 400px;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.all-reels {
  height: 100%;
  width: 100%;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
.all-reels::-webkit-scrollbar {
  display: none;
}

.reel {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 10px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overflow: hidden;
}

.reel video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.reel .bottom {
  width: 100%;
  height: 18%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.857));
  position: absolute;
  bottom: 0;
}

.bottom .user {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 15px;
  margin-bottom: 10px;
}

.bottom .user img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.bottom .user h4 {
  font-size: 16px;
  font-weight: 700;
}

.bottom .user button {
  background-color: transparent;
  border: solid 1px white;
  padding: 4px 9px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

#caption {
  padding: 0px 18px;
}

#caption h4 {
  font-size: 18px;
  font-weight: 100;
}

.right {
  width: 40px;
  position: absolute;
  right: 15px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  text-align: center;
}

.right i {
  font-size: 30px;
  cursor: pointer;
}

.red-heart {
  color: rgb(212, 3, 3);
}

.right h4,
.right h5 {
  pointer-events: none;
}
