@font-face {
  font-family: appleRegular;
  src: url(./sf-pro-text_regular.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: appleRegular;
}

html,
body {
  height: 100%;
  width: 100%;
}

#nav {
  width: 100%;
  height: 8%;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#nav h4 {
  color: whitesmoke;
  font-weight: normal;
  font-size: 15px;
  cursor: pointer;
}

#main {
  width: 100%;
  height: 82%;
  background-image: url(https://www.apple.com/v/home/ci/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_mediumtall.jpg);
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  text-align: center;
  padding-top: 50px;
}

#main p {
  font-size: 50px;
}

#main h4 {
  font-size: 25px;
  font-weight: normal;
  padding-top: 5px;
}

#btns {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

#btns button {
  padding: 15px 25px;
  border: none;
  background-color: rgb(9, 123, 204);
  color: whitesmoke;
  border-radius: 50px;
  cursor: pointer;
}
