* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: "Mona Sans";
  color: white;
}

body {
  background-color: rgba(0, 0, 0, 0.895);
}

@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  width: 100%;
  @include flex-column(0rem);

  section {
    width: 100%;
    @include flex-column(1rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }

    .bottom {
      background-color: rgb(45, 45, 45);
      border-radius: 0.5rem;
      padding: 1rem;
      @include flex-column(2rem);

      .text {
        @include flex-column(1.5rem);

        h1 {
          font-weight: 300;
          font-size: 2.5rem;
        }

        p {
          font-weight: 200;
          line-height: 1.7rem;
          opacity: 0.4;
          font-size: 1.2rem;
        }

        button {
          width: fit-content;
          padding: 5px 10px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  main {
    section {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        padding: 3rem;

        .text {
          p {
            width: 80%;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
