* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(17, 17, 17);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  anchor-name: --anchor;
}

.box {
  height: 60px;
  width: 150px;
  background-color: rgb(17, 17, 17);
  color: rgb(239, 239, 239);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover {
  anchor-name: --anchor;
}

#anchor {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  top: anchor(top);
  left: anchor(left);
  bottom: anchor(bottom);
  right: anchor(right);
  position-anchor: --anchor;
  transition: all 0.3s linear;
  pointer-events: none;
  mix-blend-mode: difference;
}
