* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  font-family: Helvetica, sans-serif;
}

@keyframes changeBG {
  from {
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    border: 1px solid #fff;
  }

  to {
    background-color: rgb(171, 255, 3);
    border-radius: 2rem;
    border: 2px solid #fff;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

#box {
  height: 15rem;
  width: 25rem;
  animation: changeBG 3s ease-in-out forwards;
  /* background-color: rgb(133, 133, 133); */
}

#box h1 {
  font-size: 2.5rem;
  font-weight: 900;
  padding: 2rem 1rem;
  animation: slideIn 3s ease;
}
