* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: whitesmoke;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes animateBorder {
  from {
    --rotate: 0deg;
  }

  to {
    --rotate: 360deg;
  }
}

#card {
  /* background-color: blueviolet; */
  width: 20rem;
  padding-inline: 1rem;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 1.5rem;

  box-shadow: 0 0 0 rgb(198, 12, 13);
  text-shadow: 0 0 0 rgb(198, 12, 13);

  background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, rgb(239, 0, 0), black) border-box;

  border: 0px solid rgba(255, 255, 255, 0);
  margin: 10px;

  animation: animateBorder 4s infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  transition: all ease-in-out 0.4s;
}

#card:hover {
  border: 5px solid rgba(255, 255, 255, 0);
  animation-play-state: running;
  box-shadow: 0 0 3rem rgb(198, 12, 13);
  text-shadow: 0 0 0.9rem rgb(198, 12, 12);
}

#card img {
  width: 100%;
}

#card h1 {
  color: rgb(198, 12, 13);
}
