* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: black;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#main {
  height: 100%;
  width: 100%;
  background-color: rgb(233, 233, 233);
  padding-inline: 1rem;
}

#nav-bar {
  background-color: rgba(26, 26, 26, 0.9);
  color: whitesmoke;
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0 0 1rem 1rem;
}

#logo {
  height: 50px;
}

.menu-section {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
}

.menu-name {
  font-size: 1rem;
  cursor: pointer;
}

.cta-btn {
  border: none;
  background: transparent;
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-btn:hover {
  color: rgb(134, 13, 13);
}

.left-section {
  width: 40rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  margin-top: 5rem;
}

.short-intro {
  font-size: 1.8rem;
}

.description {
  font-size: 0.8rem;
  margin-left: 1.2rem;
}

.left-center {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 12rem;
  font-weight: 100;
  margin-left: 7rem;
}

.sub-heading {
  font-weight: 400;
  font-size: 0.9rem;
  margin-left: 2rem;
}

.bottom-para {
  margin-top: 10rem;
  margin-left: -9rem;
}

.sections-container {
  display: flex;
}

.main-image {
  display: inline-block;
  height: 40rem;
  margin-left: 10rem;
}
