* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: stranger things;
  src: url(Stranger\ Things\ Outlined.ttf);
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: stranger things;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: red;
  font-size: 4rem;
}

#text-cont {
  border: 1px solid rgb(91, 8, 8);
  padding: 2rem 2.5rem;
}
