* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: monospace;
  color: whitesmoke;
  background-color: rgb(33, 33, 33);
}

body h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
}

#container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#count {
  font-size: 30px;
}

button {
  padding: 5px 30px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.3s;
}

button:hover {
  transform: scale(1.05);
}

#inc-btn {
  background-color: rgb(0, 212, 0);
}
#dec-btn {
  background-color: rgb(255, 59, 59);
}
