* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: rgb(32, 32, 32);
  display: flex;
  align-items: center;
  justify-content: center;
}

#card {
  height: 25rem;
  width: 22rem;
  background-color: whitesmoke;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

#img-container {
  height: 18rem;
  width: 22rem;
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#img-container i {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  font-size: 5.5rem;
  color: transparent;
  background: url(https://preview.colorkit.co/gradient/f9ce34-ee2a7b-6228d7.png?size=wallpaper&scale=0.25&static=true);
  background-size: cover;
  background-position: bottom;
  background-clip: text;
  /* -webkit-background-clip: text; */
  transform: translate(-50%, -50%) scale(0) rotate(-40deg);
  transition: all cubic-bezier(0.65, 1, 0.77, 1.44) 0.3s;
}

#like-count {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  margin-left: 10px;
  align-items: center;
}

#like-count #like-icon-inactive {
  font-size: 1.4rem;
}

#like-count h4,
#like-icon-inactive {
  font-size: 1.1rem;
  font-weight: 500;
}

#like-icon-active {
  font-size: 1.4rem;
  color: transparent;
  background: url(https://img.freepik.com/free-vector/pastel-gradient-blur-background_53876-115216.jpg?semt=ais_hybrid&w=740&q=80);
  background-clip: text;
  background-size: cover;
  display: none;
}
