* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(15, 15, 15);
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: blanchedalmond;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
  position: relative;
  z-index: 999;
}

h3 {
  white-space: nowrap;
}
